In [54]:
import pandas as pd
import numpy as np
import math

In [55]:
RANDOM_SEED = 13022022

In [56]:
test = pd.read_csv('Task/test.csv')
test.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [57]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1614 entries, 0 to 1613
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Smiles  1614 non-null   object
dtypes: object(1)
memory usage: 12.7+ KB

In [58]:
test.sample(3)

                                                Smiles
945  CCCc1nn(C)c2c(=O)[nH]c(-c3cc(S(=O)(=O)N4CCN(C)...
336           O=[N+]([O-])c1cc(O)c(O)c([N+](=O)[O-])c1
922           COc1ccc(CC(C)NCC(O)c2ccc(O)c(NC=O)c2)cc1

In [59]:
train = pd.read_csv('Task/train.csv')
train.drop(['Unnamed: 0'], axis = 1, inplace = True)

In [60]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5557 entries, 0 to 5556
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Smiles  5557 non-null   object
 1   Active  5557 non-null   bool
dtypes: bool(1), object(1)
memory usage: 49.0+ KB

In [61]:
train.sample(3)

                                                 Smiles  Active
3289             N=C(N)c1ccc(/C=C/c2ccc(C(=N)N)cc2O)cc1   False
3836            CNC(=O)c1c(I)c(NC(C)=O)c(I)c(C(=O)O)c1I   False
971   C[C@]12CCC3[C@@H](CC[C@]4(O)C[C@@H](O)CC[C@]34...   False

In [62]:
list(train['Active'].unique())

[False, True]

In [63]:
list_active = {False: 0, True: 1}

In [64]:
train['Active'] = train['Active'].map(list_active)

In [65]:
train.sample()

                                        Smiles  Active
3470  CN(C)S(=O)(=O)c1cccc(-n2sc3ccccc3c2=O)c1       1

In [66]:
train['train'] = 1
test['train'] = 0

In [67]:
df = pd.concat([train, test], ignore_index=True)

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7171 entries, 0 to 7170
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Smiles  7171 non-null   object
 1   Active  5557 non-null   float64
 2   train   7171 non-null   int64
dtypes: float64(1), int64(1), object(1)
memory usage: 168.2+ KB

In [69]:
df['train'].unique()

array([1, 0], dtype=int64)

In [70]:
df[df['train'] == 1]['Active'].value_counts()

0.0    5351
1.0     206
Name: Active, dtype: int64

In [71]:
from collections import Counter

atoms = Counter()
for i in df['Smiles'].unique():
    for j in i:
        atoms[j] += 1

In [72]:
atoms['C']

67272

In [73]:
new_columnes = list(atoms.keys())

In [74]:
print(new_columnes)

['C', 'O', 'c', '1', '2', '[', 'n', 'H', ']', '(', 'N', ')', '@', '.', 'l', '=', 'S', '3', '4', 'F', '-', 's', '/', '5', 'o', 'a', '+', '#', 'I', 'P', 'B', 'r', '\\', 'Z', '6', '7', '8', 'e', 'A', 'K', 'M', 'g', 'i', 'L', '9']

In [75]:
df['len_smiles'] = df['Smiles'].apply(lambda x: len(x))

In [76]:
df['len_smiles'].max()

707

In [77]:
df['len_smiles'].describe()

count    7171.000000
mean       51.122438
std        31.876511
min         6.000000
25%        34.000000
50%        46.000000
75%        60.000000
max       707.000000
Name: len_smiles, dtype: float64

In [78]:
df[df['len_smiles'] > 60]['Smiles'].count()

1732

In [79]:
df['smiles_list'] = df['Smiles'].apply(lambda x: list(x))

In [80]:
def count_i(x):
    atoms = Counter()
    for i in x:
        atoms[i] += 1
    return atoms

In [81]:
df['smiles_list'] = df['smiles_list'].apply(lambda x: count_i(x))

In [82]:
for i in new_columnes:
    df[i] = df['smiles_list'].apply(lambda x: x[i])

In [83]:
df.sample(3)

,Smiles,Active,train,len_smiles,smiles_list,C,O,c,1,2,...,7,8,e,A,K,M,g,i,L,9
5015,Cc1nc2ccc(Oc3ccc(F)cc3)cc2c(=O)n1C[C@H]1CCCN(C...,0.0,1,53,"{'C': 10, 'c': 14, '1': 4, 'n': 2, '2': 2, '('...",10,2,14,4,2,...,0,0,0,0,0,0,0,0,0,0
121,Cc1ccccc1C(=O)Nc1ccc(C(=O)N2CCCC(O)c3cc(Cl)ccc...,0.0,1,55,"{'C': 9, 'c': 18, '1': 4, '(': 6, '=': 2, 'O':...",9,3,18,4,2,...,0,0,0,0,0,0,0,0,0,0
1845,O=C(NNC(=O)c1ccc(CNS(=O)(=O)c2ccc(F)c(Cl)c2)cc...,0.0,1,56,"{'O': 4, '=': 4, 'C': 4, '(': 7, 'N': 3, ')': ...",4,4,18,4,2,...,0,0,0,0,0,0,0,0,0,0

In [84]:
df.sample(3)

,Smiles,Active,train,len_smiles,smiles_list,C,O,c,1,2,...,7,8,e,A,K,M,g,i,L,9
1501,c1ccc(OCc2ccc(CCCN3CCOCC3)cc2)cc1,0.0,1,33,"{'c': 12, '1': 2, '(': 2, 'O': 2, 'C': 8, '2':...",8,2,12,2,2,...,0,0,0,0,0,0,0,0,0,0
3064,NC(=O)CN1CC(O)CC1=O,0.0,1,19,"{'N': 2, 'C': 6, '(': 2, '=': 2, 'O': 3, ')': ...",6,3,0,2,0,...,0,0,0,0,0,0,0,0,0,0
215,COc1cccc(OC)c1-c1cc(C(=O)NC2(C(=O)O)C3CC4CC(C3...,0.0,1,75,"{'C': 15, 'O': 5, 'c': 18, '1': 6, '(': 7, ')'...",15,5,18,6,4,...,0,0,0,0,0,0,0,0,0,0

In [85]:
df.drop(['smiles_list'], axis = 1, inplace = True)

In [86]:
df.set_index(['Smiles'], inplace = True)

In [87]:
df.sample(3)

,Active,train,len_smiles,C,O,c,1,2,[,n,...,7,8,e,A,K,M,g,i,L,9
Smiles,,,,,,,,,,,,,,,,,,,,,
CC(C)OC(=O)C(C(=O)OC(C)C)=C1SC=CS1,0.0,1,34,12,4,0,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0
NC(=O)[C@@H](CCC(F)(F)F)N(Cc1ccc(-c2ncon2)cc1F)S(=O)(=O)c1ccc(Cl)cc1,NaN,0,68,7,3,14,4,2,1,2,...,0,0,0,0,0,0,0,0,0,0
Cc1onc(-c2ccc(F)cc2)c1COc1ccc(C(=O)N2CCS(=O)(=O)CC2)cn1,NaN,0,55,7,4,14,4,4,0,2,...,0,0,0,0,0,0,0,0,0,0

In [88]:
train_new = df[df['train'] == 1]
test_new = df[df['train'] == 0]

In [89]:
train_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5557 entries, COc1ccc2[nH]cc(CCN)c2c1 to CCCCNc1ccc(C(=O)OCCN(C)C)cc1.Cl
Data columns (total 48 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Active      5557 non-null   float64
 1   train       5557 non-null   int64
 2   len_smiles  5557 non-null   int64
 3   C           5557 non-null   int64
 4   O           5557 non-null   int64
 5   c           5557 non-null   int64
 6   1           5557 non-null   int64
 7   2           5557 non-null   int64
 8   [           5557 non-null   int64
 9   n           5557 non-null   int64
 10  H           5557 non-null   int64
 11  ]           5557 non-null   int64
 12  (           5557 non-null   int64
 13  N           5557 non-null   int64
 14  )           5557 non-null   int64
 15  @           5557 non-null   int64
 16  .           5557 non-null   int64
 17  l           5557 non-null   int64
 18  =           5557 non-null   int64
 19  S           5557 non-null   int64
 20  3           5557 non-null   int64
 21  4           5557 non-null   int64
 22  F           5557 non-null   int64
 23  -           5557 non-null   int64
 24  s           5557 non-null   int64
 25  /           5557 non-null   int64
 26  5           5557 non-null   int64
 27  o           5557 non-null   int64
 28  a           5557 non-null   int64
 29  +           5557 non-null   int64
 30  #           5557 non-null   int64
 31  I           5557 non-null   int64
 32  P           5557 non-null   int64
 33  B           5557 non-null   int64
 34  r           5557 non-null   int64
 35  \           5557 non-null   int64
 36  Z           5557 non-null   int64
 37  6           5557 non-null   int64
 38  7           5557 non-null   int64
 39  8           5557 non-null   int64
 40  e           5557 non-null   int64
 41  A           5557 non-null   int64
 42  K           5557 non-null   int64
 43  M           5557 non-null   int64
 44  g           5557 non-null   int64
 45  i           5557 non-null   int64
 46  L           5557 non-null   int64
 47  9           5557 non-null   int64
dtypes: float64(1), int64(47)
memory usage: 2.1+ MB

In [90]:
X = train_new.drop(['Active'], axis = 1)
y = train_new['Active']

In [91]:
from sklearn import model_selection, datasets, metrics, tree

In [92]:
train_data, test_data, train_labels, test_labels = model_selection.train_test_split(X, y, 
                                                                                    test_size=0.30, random_state=RANDOM_SEED)

In [98]:
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier

In [101]:
clf = tree.DecisionTreeClassifier()
clf.fit(train_data, train_labels)

DecisionTreeClassifier()

In [102]:
predictions_clf = clf.predict(test_data)
metrics.f1_score(test_labels, predictions_clf)

0.16793893129770993

In [97]:
from sklearn.model_selection import GridSearchCV

parameters = {'max_depth':range(3,20)}
clf = GridSearchCV(tree.DecisionTreeClassifier(), parameters, n_jobs=4)
clf.fit(X=train_data, y=train_labels)
tree_model = clf.best_estimator_
print (clf.best_score_, clf.best_params_)

0.9642584192712726 {'max_depth': 3}

In [105]:
bagging_trees = BaggingClassifier(clf, n_estimators = 150)
bagging_trees.fit(train_data,train_labels)
predictions_bg = bagging_trees.predict(test_data)

In [106]:
metrics.f1_score(test_labels, predictions_bg)

0.07894736842105261

In [107]:
from lazypredict.Supervised import LazyClassifier

In [108]:
clf_lc = LazyClassifier(verbose=0,ignore_warnings=True, custom_metric=None)
models,predictions = clf_lc.fit(train_data, test_data, train_labels, test_labels)

100%|██████████████████████████████████████████████████████████████████████████████████| 29/29 [00:21<00:00,  1.37it/s]

In [109]:
print(models)

                               Accuracy  Balanced Accuracy  ROC AUC  F1 Score  \
Model
DecisionTreeClassifier             0.93               0.55     0.55      0.93
NearestCentroid                    0.75               0.54     0.54      0.83
ExtraTreeClassifier                0.93               0.53     0.53      0.93
LabelSpreading                     0.94               0.52     0.52      0.93
LabelPropagation                   0.94               0.52     0.52      0.93
XGBClassifier                      0.96               0.52     0.52      0.94
Perceptron                         0.94               0.51     0.51      0.93
BaggingClassifier                  0.95               0.51     0.51      0.94
SGDClassifier                      0.95               0.51     0.51      0.94
LinearDiscriminantAnalysis         0.95               0.51     0.51      0.94
QuadraticDiscriminantAnalysis      0.10               0.51     0.51      0.12
RandomForestClassifier             0.96               0.51     0.51      0.94
LogisticRegression                 0.96               0.51     0.51      0.94
LGBMClassifier                     0.96               0.51     0.51      0.94
ExtraTreesClassifier               0.96               0.51     0.51      0.94
BernoulliNB                        0.95               0.50     0.50      0.94
KNeighborsClassifier               0.95               0.50     0.50      0.94
PassiveAggressiveClassifier        0.95               0.50     0.50      0.94
SVC                                0.96               0.50     0.50      0.94
CalibratedClassifierCV             0.96               0.50     0.50      0.94
RidgeClassifier                    0.96               0.50     0.50      0.94
RidgeClassifierCV                  0.96               0.50     0.50      0.94
AdaBoostClassifier                 0.96               0.50     0.50      0.94
LinearSVC                          0.96               0.50     0.50      0.94
DummyClassifier                    0.92               0.50     0.50      0.92
GaussianNB                         0.11               0.47     0.47      0.14

                               Time Taken
Model
DecisionTreeClassifier               0.14
NearestCentroid                      0.05
ExtraTreeClassifier                  0.06
LabelSpreading                       2.67
LabelPropagation                     1.78
XGBClassifier                        2.49
Perceptron                           0.06
BaggingClassifier                    0.58
SGDClassifier                        0.08
LinearDiscriminantAnalysis           0.12
QuadraticDiscriminantAnalysis        0.06
RandomForestClassifier               0.82
LogisticRegression                   0.13
LGBMClassifier                       0.47
ExtraTreesClassifier                 0.88
BernoulliNB                          0.21
KNeighborsClassifier                 1.25
PassiveAggressiveClassifier          0.06
SVC                                  0.95
CalibratedClassifierCV               5.94
RidgeClassifier                      0.05
RidgeClassifierCV                    0.08
AdaBoostClassifier                   0.60
LinearSVC                            1.46
DummyClassifier                      0.05
GaussianNB                           0.07

In [99]:
from sklearn.neighbors import NearestCentroid

In [100]:
NC_model = NearestCentroid()

In [101]:
train_data, test_data, train_labels, test_labels
NC_model.fit(train_data, train_labels)
predictions_clf_tree = NC_model.predict(test_data)
metrics.f1_score(test_labels, predictions_clf_tree)

0.10037174721189593

In [102]:
from sklearn.ensemble import RandomForestClassifier

clf_rf = RandomForestClassifier()

In [103]:
clf_rf.fit(train_data, train_labels)
predictions_clf_rf = clf_rf.predict(test_data)
metrics.f1_score(test_labels, predictions_clf_rf)

0.0273972602739726

In [103]:
test_new_data = test_new.drop(['Active'], axis = 1)

In [105]:
predictions = clf.predict(test_new_data)

In [106]:
test_new_data['Active'] = predictions

In [107]:
test_new_data.sample(5)

,train,len_smiles,C,O,c,1,2,[,n,H,...,8,e,A,K,M,g,i,L,9,Active
Smiles,,,,,,,,,,,,,,,,,,,,,
Nc1c2c(nc3ccccc13)CCCC2O.O=C(O)/C=C\C(=O)O,0,42,8,5,9,2,2,0,1,0,...,0,0,0,0,0,0,0,0,0,0.0
CN(C)CCCN1c2ccccc2Sc2ccc(C(F)(F)F)cc21.Cl,0,41,7,0,12,2,4,0,0,0,...,0,0,0,0,0,0,0,0,0,1.0
CCC(NC(C)C)C(O)c1ccc(O)c2[nH]c(=O)ccc12,0,39,7,3,9,2,2,1,1,1,...,0,0,0,0,0,0,0,0,0,0.0
Cn1c(=O)cnn(CCCCN2CCN(c3ncccn3)CC2)c1=O,0,39,9,2,7,2,2,0,5,0,...,0,0,0,0,0,0,0,0,0,0.0
COc1ccc(O)c(C(C)(C)C)c1,0,23,5,2,6,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

In [108]:
test_new_data.reset_index(inplace = True)

In [109]:
test_new_data.sample(5)

,Smiles,train,len_smiles,C,O,c,1,2,[,n,...,8,e,A,K,M,g,i,L,9,Active
279,CC[C@H](CO)Nc1nc(Nc2cccc(-c3ccccn3)c2)c2ncn(C(...,0,54,7,1,16,2,4,1,5,...,0,0,0,0,0,0,0,0,0,1.0
1189,CCC(=O)O[C@H]1[C@H](O[C@@H]2[C@@H](C)[C@H](O[C...,0,206,52,18,0,2,2,18,0,...,0,0,0,0,0,0,0,0,0,0.0
1517,COc1ccc(-c2c[nH]c3nccc(-c4ccsc4)c23)c(OC)c1,0,43,2,2,17,2,2,1,2,...,0,0,0,0,0,0,0,0,0,0.0
280,CNC(=O)c1cc2c(cn1)[nH]c1ccccc12,0,31,2,1,11,4,2,1,2,...,0,0,0,0,0,0,0,0,0,0.0
60,CN(C)C(=O)Oc1cc(OC(=O)N(C)C)cc(C(O)CNC(C)(C)C)c1,0,48,12,5,6,2,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

In [110]:
submission = test_new_data[['Smiles', 'Active']]

In [111]:
submission.sample(4)

                                                 Smiles  Active
1504              Oc1ccc2[nH]c(-c3ccccc3)nc2c1CN1CCCCC1     0.0
1069            CCN(Cc1ccc(Cl)nc1)/C(=C/[N+](=O)[O-])NC     0.0
396   C[C@@H]1[C@H]2C3=CC[C@@H]4[C@@]5(C)CC[C@H](O)C...     0.0
41    COc1ccnc(C[S+]([O-])c2nc3cc(OC(F)F)ccc3[nH]2)c1OC     1.0

In [112]:
submission['Active'] = submission['Active'].apply(lambda x: int(x))

C:\Users\Rusla\AppData\Local\Temp/ipykernel_4936/2085481574.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  submission['Active'] = submission['Active'].apply(lambda x: int(x))

In [113]:
submission.to_csv('submission.csv', index=False)